body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.check {
    width: 121px;
    height: 120%;
}

h1 {
    text-align: center;
    color: #333;
}
h3 {
    text-align: center;
    color: #333;
}
.search-form {
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.col-3 {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.col-12 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.search-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #218838;
}
.results-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
.results-table th, .results-table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.results-table th {
    background-color: #f2f2f2;
    text-align: left;
}
.results-table tr:nth-child(even) {
    background-color: #f9f9f9;
}